.room--preview {
    margin-top: 20px;
}

.room--preview__description {
    margin: 1rem 0;
    text-align: center;
}

.room--preview__icon {

}

.room--preview__icon:hover {
    transform: scale(1.2);
    color: grey;
}