.room--form__user-select > .bp3-popover-target {
    width: 100%;
}
.room--form__drop-file {
    border-radius: 4px;
    width: 100%;
    border: 2px gray dashed;
    padding: 5px;
}

.room--form__drop-file__accept {
    border: 2px green dashed;
    background: lavender;
}
